* {
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 24px;
}


header {
    text-align: center;
    margin: 0 0 20px 0;
}

nav a {
    margin: 20px;
    text-decoration: none;
    font-size: 35px;

}

nav a:hover {
    color: #275DAD;
    background-color: #B5BFD3;

}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer {
    margin-bottom: 0;

}


.item_c {
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-color: black;
}

.main_pict {
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 50%;
    height: 200px;
}

.pict_text {
    text-align: left;
    font-size: 28px;
    margin: 10px;
    display: flex;
    text-align: center;

}

.school {
    display: flex;
    flex-direction: row;
    margin: 15px 0px 20px;
}

.schoolicon {
    height: 80px;
    margin-right: 10px;
}

.text {
    text-align: center;
    margin: 0 20px;
}

.skill {
    display: flex;
    flex-direction: row;
}

.tit {
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 100%;
    align-items: center;

}


.slids {
    display: flex;
    justify-content: center;
}

.slids img {
    width: 20%;
    height: auto;
}