* {
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 26px;
    background-color: #F2F4FF;
}


header {
    text-align: center;
    margin: 0 0 20px 0;
}

nav {
    background-color: #95B9D6;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 35px;
    background-color: #95B9D6;
}

nav a:hover {
    color: #0d00a2;
    background-color: cornsilk;

}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer {
    margin-bottom: 0;
    background-color: #4f85dc;
    display: flex;
    justify-content: center;
}

footer a {
    background-color: #4f85dc;
    color: #0d00a2;
}

footer a:hover {
    color: #0d00a2;
    background-color: cornsilk;
}

.webtit {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.item_c {
    text-align: center;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px;
}

.main_pict {
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 50%;
    height: 250px;
}

.pict_text {
    text-align: left;
    font-size: 38px;
    margin: 10px;
    display: flex;
    text-align: center;
    font-style: italic;
}

.school {
    display: flex;
    flex-direction: row;
    margin: 15px 0px 20px;
}

.schoolicon {
    height: 80px;
    margin-right: 10px;
}

.text {
    text-align: center;
    margin: 0 20px;
}

.skill {
    display: flex;
    flex-direction: row;
}

.tit {
    padding: 20px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    width: 100%;
    align-items: center;
    background-color: #4f85dc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    background-color: #4f85dc;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #4f85dc;
}

.slids {
    display: flex;
    justify-content: center;
    background-color: #4f85dc;
}

#event_t {
    background-color: #4f85dc;


}

.slids img {
    width: 30%;
    height: auto;
}